misc/DCCICommercialDirectory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions targetNamespace="http://siebel.com/DCQueryMobCommDir" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.siebel.com/xml/DC%20Query%20Member%20Info" xmlns:WL5G3N2="http://siebel.com/DCQueryMobCommDir" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/DC%20Query%20Member%20Info" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://siebel.com/DCQueryMobCommDir" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal0="http://www.siebel.com/xml/DC%20Query%20Member%20Info">
      <xsd:annotation>
        <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="ListOfDcQueryMemberInfo" type="xsdLocal0:ListOfDcQueryMemberInfo"/>
      <xsd:complexType name="ListOfDcQueryMemberInfoTopElmt">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="ListOfDcQueryMemberInfo" type="xsdLocal0:ListOfDcQueryMemberInfo"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListOfDcQueryMemberInfo">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Account" type="xsdLocal0:Account"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Account">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CSN" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="DCNameArabic" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="DCNameEnglish" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MainEmailAddress" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MainFaxNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MainPhoneNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ListOfAccount_DCAccountActivity" type="xsdLocal0:ListOfAccount_DCAccountActivity"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ListOfCutAddress" type="xsdLocal0:ListOfCutAddress"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListOfAccount_DCAccountActivity">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Account_DCAccountActivity" type="xsdLocal0:Account_DCAccountActivity"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Account_DCAccountActivity">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="DCActivityCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DCActivityCodeFee" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Name2" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListOfCutAddress">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CutAddress" type="xsdLocal0:CutAddress"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CutAddress">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="AddressName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ApartmentNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="City" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Country" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DCAddressArabicName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DCAddressEnglishName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DCAreaPOBox" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DCCommunityNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DCPOBox" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="DCStreetAddress" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Descriptor" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PostalCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PrimaryAddressFlg" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Province" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="State" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="StreetAddress" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="StreetAddress2" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="StreetAddress3" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="QBECommDir_Input">
    <WL5G3N0:part name="SiebelMessage" type="WL5G3N1:ListOfDcQueryMemberInfoTopElmt"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="QBECommDir_Output">
    <WL5G3N0:part name="SiebelMessage" type="WL5G3N1:ListOfDcQueryMemberInfoTopElmt"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="DCCommDirQuery">
    <WL5G3N0:operation name="QBECommDir">
      <WL5G3N0:input message="WL5G3N2:QBECommDir_Input"/>
      <WL5G3N0:output message="WL5G3N2:QBECommDir_Output"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="DCCommDirQuery" type="WL5G3N2:DCCommDirQuery">
    <WL5G3N3:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="QBECommDir">
      <WL5G3N3:operation soapAction="rpc/http://siebel.com/DCQueryMobCommDir:QBECommDir"/>
      <WL5G3N0:input>
        <WL5G3N3:body namespace="http://siebel.com/DCQueryMobCommDir" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body namespace="http://siebel.com/DCQueryMobCommDir" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="DCQueryMobCommDir">
    <WL5G3N0:port binding="WL5G3N2:DCCommDirQuery" name="DCCommDirQuery">
      <WL5G3N3:address location="https://dcvmsoamwsit.dubaichamber.com:8012/DCCICommercialDirectory/ProxyServices/DCCICommercialDirectoryProxy"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>